@import 'root';

body
{
    background-color: $white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lighten($secondary-color, 0);


    header
    {
        position: fixed;
        top: 0;
        z-index: 999;
        width: 100%;
        height: 60px;
        display: inline-flex;
        transition: all 0.5s cubic-bezier(0.85, 0.135, 0.15, 0.86);


        .title
        {
            background-color: $white;
            width: 10%;
            position: relative;
            left: 4%;
            height: 96%;
            img
            {
                height: 50px;
                margin: 5px;
                position: relative;
            }
        }

        nav
        {
            width: 40%;
            position: relative;
            left: 10%;
            padding-top: 1.5%;
            ul
            {
                display: inline-flex;
                width: 60%;
                justify-content: space-evenly;

                li
                {
                    a
                    {
                        font-size: 13px;
                        color: rgba($white, 0.9);
                        letter-spacing: 1px;
                        opacity: 0.8;

                        &:hover
                        {
                            color: rgba($white, 0.6);
                        }
                    }
                }
            }
        }

        .btn
        {
            background-color: lighten($primary-color, 15);
            height: 75%;
            @extend .flex-column;
            margin-top: .6%;
            position: relative;
            left: 30%;
            width: 10%;
            border-radius: 30px;
            font-size: 13px;
        }
    }

    main
    {
        background-color: $white;

        @extend .flex-column, .x-start;
        position: relative;
        height: 100vh;
        width: 100%;
        background: url("../img/nurse.jpg") center center;
        background-position-y: 1px;
        background-size: cover;
        background-repeat: no-repeat;
        // top: -68px;
        z-index: 1;
        scroll-snap-align: start;
        scroll-snap-type: y mandatory;
        background-origin: 1px;
        background-attachment: fixed;

        .showcase-text
        {
            @extend .flex-column, .x-start;
            box-sizing: border-box;
            padding: 1%;
            width: 50%;
            height: 60%;
            top: 6%;
            position: relative;
            left: 3%;

            *
            {
                margin-bottom: 20px;
            }

            h1
            {
                font-size: 3rem;
                width: 90%;
                opacity: 0;
                animation: slideIn 1.2s ease-in-out forwards;
                animation-delay: .1s;
            }

            a
            {
                padding: 20px 30px;
                border-radius: 30px;
                opacity: 0;
                animation: slideIn 1.2s ease-in-out forwards;
                animation-delay: .5s;
            }
        }
    }

    section
    {
        box-sizing: border-box;
        padding-top: 5%;
        background-color: $white;
        height: 80vh;
        width: 100%;
        @extend .flex-column, .y-start;


        &:nth-of-type(1)
        {
            text-align: center;
            background-attachment: fixed;

            p
            {
                margin: 10px 0;
                width: 60%;
                text-transform: none;
                opacity: .8;
            }
            .grid-container
            {

                width: 85%;
                height: 40%;

                .card
                {
                    @extend .flex-column;
                    text-align: center;

                    i
                    {
                        width: 40px;
                        height: 40px;
                        background-color: lighten($primary-color, 45);
                        @extend .flex-column;
                        border-radius: 50%;
                        padding: 30px;

                        color: lighten($primary-color, 5);
                        margin-bottom: 20px;

                    }

                    p
                    {
                        font-size: .9rem;
                        margin-bottom: 20px;
                        width: 90%;
                        text-transform: none;
                    }
                }
            }
        }

        &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4)
        {
            .grid-container
            {
                @extend .grid-2;
                width: 90%;
                height: 90%;

                img
                {
                    width: 90%;
                    height: 90%;
                    border-radius: 10px
                }

                .text
                {
                    @extend .flex-column, .x-start;
                    box-sizing: border-box;
                    padding: 1%;

                    h1
                    {
                        font-size: 40px;
                        width: 95%;
                        margin-bottom: 10px;
                        @extend .txt-primary;
                    }

                    p
                    {
                        width: 80%;
                        margin-bottom: 20px;
                        text-transform: none;
                    }
                }
            }
        }

        &:nth-of-type(5)
        {
            padding: 0;
            height: 60vh;
            width: 100%;
            background-image: url("../img/cure.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            .overlay
            {
                width: 100%;
                height: 100%;
                z-index: 2;
                background-color: rgba(black, 0.39);
                backdrop-filter: blur(5px);

                h1
                {
                    font-size: 3em;
                    width: 60%;
                    text-align: center;
                    margin-bottom: 20px;
                    text-transform: none;

                }

                a
                {
                    mix-blend-mode: normal;
                    padding: 20px 30px;
                    border-radius: 50px;
                }
            }
        }
    }
}