@import url("https://fonts.googleapis.com/css?family=Poppins");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  list-style-type: none;
  text-decoration: none;
  outline: none;
  resize: none;
  text-transform: capitalize;
}

html {
  scroll-behavior: smooth;
}

.grid-1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 5px;
}

.grid-2, body section:nth-of-type(2) .grid-container, body section:nth-of-type(3) .grid-container, body section:nth-of-type(4) .grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.grid-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.grid-6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
}

.grid-7 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
}

.grid-8 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 5px;
}

.grid-9 {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 5px;
}

.grid-10 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 5px;
}

.grid-11 {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-gap: 5px;
}

.grid-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 5px;
}

.flex-column, body section:nth-of-type(2) .grid-container .text, body section:nth-of-type(3) .grid-container .text, body section:nth-of-type(4) .grid-container .text, body section:nth-of-type(1) .grid-container .card i, body section:nth-of-type(1) .grid-container .card, body section, body main .showcase-text, body main, body header .btn, .x-end, .x-start, .y-end, .y-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: inline-flex;
  justify-content: space-between;
}

.y-start, body section {
  justify-content: flex-start;
}

.y-end {
  justify-content: flex-end;
}

.x-start, body section:nth-of-type(2) .grid-container .text, body section:nth-of-type(3) .grid-container .text, body section:nth-of-type(4) .grid-container .text, body main .showcase-text, body main {
  align-items: flex-start;
}

.x-end {
  align-items: flex-end;
}

.no-shadow {
  box-shadow: none !important;
}

::-webkit-scrollbar {
  width: 5px;
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #1e2f36, #176c8e);
  border-radius: 10px;
}

.btn-bordered-gradient {
  font-size: 14px;
  border: 2px solid;
  border-top: 2px solid #a9277d;
  border-bottom: 2px solid #a9277d;
  border-right: 2px solid #0479a7;
  border-left: 2px solid #0479a7;
  width: -moz-max-content;
  width: max-content;
  height: 30px;
  padding: 15px 35px;
  border-radius: 30px;
}
.btn-bordered-gradient:hover {
  transition: all 2s ease-out;
  border-top-color: #0479a7;
  border-bottom-color: #0479a7;
  border-right-color: #a9277d;
  border-left-color: #a9277d;
  background-color: #94dffc;
}

.btn-primary {
  background-color: #d0329c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: small;
  font-weight: 600;
  letter-spacing: 1px;
}
.btn-primary i {
  margin-right: 5px;
  margin-left: 5px;
}
.btn-primary:hover {
  transition: all 0.3s ease-in-out;
  background-color: #bd2c8d;
}

.btn-secondary {
  background-color: #0479a7;
  border: 2px solid #a9277d;
  color: #111111;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: small;
}
.btn-secondary i {
  margin-right: 5px;
  margin-left: 5px;
}
.btn-secondary:hover {
  transition: all 0.3s ease-in-out;
  background-color: #035575;
}

.btn-rounded {
  border-radius: 15px;
}

.btn-flat {
  border-radius: 0;
}

.btn-red {
  background-color: rgb(218, 64, 64);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn-red i {
  margin-right: 5px;
  margin-left: 5px;
}
.btn-red:hover {
  background-color: #c22525;
}

.btn-green {
  background-color: rgb(5, 194, 106);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn-green i {
  margin-right: 5px;
  margin-left: 5px;
}
.btn-green:hover {
  background-color: #04904f;
}

.btn-white {
  background-color: #fff;
  color: #111111;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn-white i {
  margin-right: 5px;
  margin-left: 5px;
}
.btn-white:hover {
  background-color: #e6e6e6;
}

.shadowed, .google-btn {
  box-shadow: inset 1px 1px rgba(255, 255, 255, 0.178), inset -1px -1px rgba(255, 255, 255, 0.132), 1px 3px 24px -1px rgba(0, 0, 0, 0.17);
}

.btn-round {
  border-radius: 50%;
}
.btn-round * {
  margin: 0;
  padding: 0;
}

.btn-transparent-primary {
  background-color: transparent;
  color: #a9277d;
  border: 2px solid #a9277d;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn-transparent-primary i {
  margin-right: 5px;
  margin-left: 5px;
}
.btn-transparent-primary:hover {
  background-color: #a9277d;
  color: #fff;
}

.btn-black {
  background-color: #111111;
  color: white;
  letter-spacing: 1px;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 1s ease-in;
}
.btn-black i {
  margin-right: 5px;
  margin-left: 5px;
}
.btn-black:hover {
  background-color: transparent;
  border: 2px solid #111111;
  color: #111111;
}

.btn-transparent-secondary {
  background-color: transparent;
  color: #0479a7;
  border: 2px solid #0479a7;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn-transparent-secondary i {
  margin-right: 5px;
  margin-left: 5px;
}
.btn-transparent-secondary:hover {
  background-color: #0479a7;
  color: #fff;
}

.btn-gradient-blue {
  background: linear-gradient(-45deg, #01131d, #5b9cba);
  color: white;
  letter-spacing: 1px;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 15px;
  cursor: pointer;
  transition: all 1s ease-in;
}
.btn-gradient-blue i {
  margin-right: 5px;
  margin-left: 5px;
}
.btn-gradient-blue:hover {
  background: linear-gradient(-45deg, #5690ab, #021d2a);
}

.btn-gradient {
  background: linear-gradient(to right, #c22c90, #059dd9);
  color: white;
  letter-spacing: 1px;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 1s ease-in;
}
.btn-gradient i {
  margin-right: 5px;
  margin-left: 5px;
}
.btn-gradient:hover {
  background: linear-gradient(to left, #c22c90, #059dd9);
}

.btn-transparent-white {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn-transparent-white i {
  margin-right: 5px;
  margin-left: 5px;
}
.btn-transparent-white:hover {
  background-color: #fff;
  color: #111111;
}

.google-btn {
  margin: 25px;
  width: -moz-max-content;
  width: max-content;
  min-width: 184px;
  height: 42px;
  border-radius: 2px;
  cursor: pointer;
  cursor: hand;
  align-self: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all 400ms ease 0s;
  display: flex;
  border-radius: 1px;
  padding: 0 10px;
  padding-bottom: 10px;
}

.google-btn .google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.google-btn .google-icon-svg {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.google-btn .btn-text {
  float: right;
  margin: 11px 14px 40px 40px;
  color: #757575;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: Roboto;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.google-btn:hover {
  box-shadow: 0 3px 8px rgba(117, 117, 117, 0.5);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.google-btn:active {
  box-shadow: 0 1px 1px #757575;
  background: #F8F8F8;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.normal-btn {
  margin: 25px;
  width: auto;
  display: inline-block;
  min-width: auto;
  max-width: 184px;
  height: 42px;
  background-color: #fcfcfc;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  cursor: hand;
  align-self: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: all 400ms ease 0s;
}

.normal-btn .btn-text {
  float: left;
  margin: 11px 14px 11px 14px;
  color: #757575;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: Roboto;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.normal-btn:hover {
  box-shadow: 0 3px 8px rgba(117, 117, 117, 0.5);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.normal-btn:active {
  box-shadow: 0 1px 1px #757575;
  background: #F8F8F8;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.dot-primary {
  height: 30px;
  width: 50px;
  background-color: #a9277d;
  border-radius: 50%;
}

.border-primary {
  height: 2px;
  width: 100px;
  background-color: #a9277d;
  padding: 0;
  border-radius: 50px;
  margin-bottom: 20px;
}

.border-secondary {
  height: 2px;
  width: 100px;
  background-color: #0479a7;
  margin-bottom: 20px;
}

.border-white {
  height: 1px;
  width: 100px;
  background-color: #fff;
}

.border-black {
  height: 2px;
  width: 100px;
  background-color: #111111;
  margin-bottom: 20px;
}

.txt-caps {
  text-transform: uppercase;
}

.txt-lower {
  text-transform: lowercase;
}

.txt-light {
  font-weight: 300;
}

.txt-primary, body section:nth-of-type(2) .grid-container .text h1, body section:nth-of-type(3) .grid-container .text h1, body section:nth-of-type(4) .grid-container .text h1 {
  color: #d0329c;
}

.txt-secondary {
  color: #035575;
}

.txt-white {
  color: #fff;
}

.txt-black {
  color: #111111;
}

.txt-red {
  color: rgb(218, 64, 64);
}

.txt-green {
  color: rgb(5, 194, 106);
}

.txt-center {
  text-align: center;
}

.txt-grey {
  color: #777777;
}

.txt-gradient {
  background: linear-gradient(to bottom, #18b1f8, #e94383);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 1px;
}

.txt-gradient-light {
  background: linear-gradient(60deg, #ffffff, #107aab);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 1px;
}

/* Animations */
@keyframes changebg {
  0% {
    background: rgb(48, 0, 31);
    background: radial-gradient(circle, rgb(48, 0, 31) 5%, rgb(0, 0, 0) 45%);
  }
  25% {
    background: rgb(48, 0, 31);
    background: radial-gradient(circle, rgb(9, 25, 23) 5%, rgb(0, 0, 0) 45%);
  }
  50% {
    background: rgb(48, 0, 31);
    background: radial-gradient(circle, rgb(37, 15, 32) 5%, rgb(0, 0, 0) 45%);
  }
  75% {
    background: rgb(48, 0, 31);
    background: radial-gradient(circle, rgb(0, 11, 41) 5%, rgb(0, 0, 0) 45%);
  }
  100% {
    background: rgb(48, 0, 31);
    background: radial-gradient(circle, rgb(0, 11, 41) 5%, rgb(0, 0, 0) 45%);
  }
}
@keyframes rotate {
  100% {
    opacity: 1;
    transform: rotate(3600deg);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes slideIn {
  0% {
    position: relative;
    left: -100px;
    opacity: 0;
  }
  50% {
    position: relative;
    left: 10px;
    opacity: 0.5;
  }
  100% {
    position: relative;
    left: 0px;
    opacity: 1;
  }
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes wobble {
  0% {
    transform: scale(0.2);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(0.8);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0479a7;
}
body header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 60px;
  display: inline-flex;
  transition: all 0.5s cubic-bezier(0.85, 0.135, 0.15, 0.86);
}
body header .title {
  background-color: #fff;
  width: 10%;
  position: relative;
  left: 4%;
  height: 96%;
}
body header .title img {
  height: 50px;
  margin: 5px;
  position: relative;
}
body header nav {
  width: 40%;
  position: relative;
  left: 10%;
  padding-top: 1.5%;
}
body header nav ul {
  display: inline-flex;
  width: 60%;
  justify-content: space-evenly;
}
body header nav ul li a {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 1px;
  opacity: 0.8;
}
body header nav ul li a:hover {
  color: rgba(255, 255, 255, 0.6);
}
body header .btn {
  background-color: #d547a6;
  height: 75%;
  margin-top: 0.6%;
  position: relative;
  left: 30%;
  width: 10%;
  border-radius: 30px;
  font-size: 13px;
}
body main {
  background-color: #fff;
  position: relative;
  height: 100vh;
  width: 100%;
  background: url("../img/nurse.jpg") center center;
  background-position-y: 1px;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  scroll-snap-align: start;
  scroll-snap-type: y mandatory;
  background-origin: 1px;
  background-attachment: fixed;
}
body main .showcase-text {
  box-sizing: border-box;
  padding: 1%;
  width: 50%;
  height: 60%;
  top: 6%;
  position: relative;
  left: 3%;
}
body main .showcase-text * {
  margin-bottom: 20px;
}
body main .showcase-text h1 {
  font-size: 3rem;
  width: 90%;
  opacity: 0;
  animation: slideIn 1.2s ease-in-out forwards;
  animation-delay: 0.1s;
}
body main .showcase-text a {
  padding: 20px 30px;
  border-radius: 30px;
  opacity: 0;
  animation: slideIn 1.2s ease-in-out forwards;
  animation-delay: 0.5s;
}
body section {
  box-sizing: border-box;
  padding-top: 5%;
  background-color: #fff;
  height: 90vh;
  width: 100%;
}
body section:nth-of-type(1) {
  text-align: center;
  background-attachment: fixed;
}
body section:nth-of-type(1) p {
  margin: 10px 0;
  width: 60%;
  text-transform: none;
  opacity: 0.8;
}
body section:nth-of-type(1) .grid-container {
  width: 85%;
  height: 40%;
}
body section:nth-of-type(1) .grid-container .card {
  text-align: center;
}
body section:nth-of-type(1) .grid-container .card i {
  width: 40px;
  height: 40px;
  background-color: #f1c4e2;
  border-radius: 50%;
  padding: 30px;
  color: #bd2c8d;
  margin-bottom: 20px;
}
body section:nth-of-type(1) .grid-container .card p {
  font-size: 0.9rem;
  margin-bottom: 20px;
  width: 90%;
  text-transform: none;
}
body section:nth-of-type(2) .grid-container, body section:nth-of-type(3) .grid-container, body section:nth-of-type(4) .grid-container {
  width: 90%;
  height: 90%;
}
body section:nth-of-type(2) .grid-container img, body section:nth-of-type(3) .grid-container img, body section:nth-of-type(4) .grid-container img {
  width: 90%;
  height: 90%;
  border-radius: 10px;
}
body section:nth-of-type(2) .grid-container .text, body section:nth-of-type(3) .grid-container .text, body section:nth-of-type(4) .grid-container .text {
  box-sizing: border-box;
  padding: 1%;
}
body section:nth-of-type(2) .grid-container .text h1, body section:nth-of-type(3) .grid-container .text h1, body section:nth-of-type(4) .grid-container .text h1 {
  font-size: 40px;
  width: 95%;
  margin-bottom: 10px;
}
body section:nth-of-type(2) .grid-container .text p, body section:nth-of-type(3) .grid-container .text p, body section:nth-of-type(4) .grid-container .text p {
  width: 80%;
  margin-bottom: 20px;
  text-transform: none;
}/*# sourceMappingURL=style.css.map */